@media (max-width: 768px) {

  

body{ background-color:#34495E;
color: #E67E22;
  font-family: 'Fira Code', monospace;
}



header.box {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(215, 215, 215);
}

.left-wrap {
  display: flex;
  flex-direction: column;
}

.icon-group {
  display: flex;
  gap: 10px; 
}

.icon-group i {
  font-size: 30px;
}

#banner.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}
.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}

}

@media (min-width: 768px) and (max-width: 1024px){
body{ background-color:#34495E;
color: #E67E22;
  font-family: 'Fira Code', monospace;
}



header.box {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(215, 215, 215);
}

.left-wrap {
  display: flex;
  flex-direction: column;
}

.icon-group {
  display: flex;
  gap: 10px; 
}

.icon-group i {
  font-size: 30px;
}

#banner.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}
.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}

}

@media screen and (min-width: 1024px) {
body{ background-color:#34495E;
color: #E67E22;
  font-family: 'Fira Code', monospace;
}



header.box {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: rgb(215, 215, 215);
}

.left-wrap {
  display: flex;
  flex-direction: column;
}

.icon-group {
  display: flex;
  gap: 10px; 
}

.icon-group i {
  font-size: 30px;
}

#banner.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}
.box {
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  background: rgb(215, 215, 215);
  border: 2px solid #000;
  border-radius: 20px;
}

}